<div class="basic">
    <div class="conteudo">
        <div class="text">
            <h1>Ciêntista da computação</h1>
            <p>
                Meu nome é Luís Filipe Melo de Miranda, sou graduado 
                em Ciências da Computação pela Universidade Católica de Brasília 
                e um programador fullstack em início de carreira. 
                Tenho uma abordagem focada em encontrar as melhores soluções, 
                buscando sempre aprimorar minhas habilidades e entregar 
                resultados eficientes e inovadores.
            </p>
        </div>
        <div class="links">
            <a href="">github</a>
            <a href="">gmail</a>
            <a href="">linkedin</a>
        </div>
    </div>
</div>
